
body {
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-buttons{
    display: flex;
    justify-content: space-evenly;

    width: 40%;
}

.nav-buttons button {
   width: 200%;

   border: none;
   background-color: white;

   font-size: 150%;
}

.nav-buttons button:hover {
    background-color: lightgray;
}

.landscape {
    width: 100%;
    height: 100%;
}

.services {
    display: grid;

    grid-template-columns: max-content max-content max-content;
    justify-content: center;

    margin-top: 2%;
}

.services div {
   
}

